doctype
html
  head
    title AXL Phone Installer
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 AXL Phone Installer
    .container
        .main-content
            block content
    footer
      p 
        center Built by Marcello Federico (marcellof@gmail.com)